:global body {
  background-color: #fff;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}


@font-face {
  font-family: 'Avenir Next';
  src: url('/static/fonts/avenir-next-medium.eot');
  src: url('/static/fonts/avenir-next-medium.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/avenir-next-medium.woff') format('woff'),
       url('/static/fonts/avenir-next-medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('/static/fonts/avenir-next-regular.eot');
  src: url('/static/fonts/avenir-next-regular.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/avenir-next-regular.woff') format('woff'),
       url('/static/fonts/avenir-next-regular.ttf') format('truetype');
  font-weight: 400;
}

.app {
  max-width: 1000px;
  margin: 0 auto;
}

.converter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropzone {
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #e0e6ed;
  box-shadow: 0 2px 8px rgba(31,45,61,0.05);
  border-radius: 8px;
  padding: 35px 20px 20px;
  min-height: 300px;
  cursor: pointer;
  text-align: center;
}

.converterHeading {
  text-align: center;
  margin-top: 0;
  font-weight: 500;
  color: #3c4858;
  font-size: 20px;
}

.converterText {
  color: #8492a6;
  text-align: center;
}

.dropImg {
  width: 160px;
  display: block;
  margin: 30px auto 0;
}

.droppedImg {
  width: 90%;
  border-radius: 2px;
  height: 200px;
  object-fit: contain;
}

.buttonGroup {
  display: flex;
  margin: 40px auto 0;
}

.button {
  display: block;
  -webkit-appearance: none;
  background-color: #1fb6ff;
  border: 0;
  height: 50px;
  padding: 0 25px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.button:first-child {
  border-radius: 4px 0 0 4px;
  border-right: 1px solid #fff;
}

.button:last-child {
  border-radius: 0 4px 4px 0;
  border-left: 1px solid #fff;
}

.finished {
  padding: 10px 0;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  width: 180px;
  margin: 20px auto;
  color: #fff;
  background-color: #5bb35b;
  opacity: 0;
  transition: opacity 150ms ease-in;
}

.finishedVisible {
  opacity: 1;
}