:global body {
  background-color: #fff;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/avenir-next-medium.eot');
  src: url('/fonts/avenir-next-medium.eot?#iefix') format('embedded-opentype'),
       url('/fonts/avenir-next-medium.woff') format('woff'),
       url('/fonts/avenir-next-medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/avenir-next-regular.eot');
  src: url('/fonts/avenir-next-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/avenir-next-regular.woff') format('woff'),
       url('/fonts/avenir-next-regular.ttf') format('truetype');
  font-weight: 400;
}

.app {
  max-width: 1000px;
  margin: 0 auto;
}
