.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 50px;
}

.logo {
  color: #4A90E2;
  font-size: 20px;
  text-decoration: none;
}

nav {

  a {
    color: #848C97;
    opacity: 0.6;
    text-decoration: none;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
