body {
  background-color: #fff;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  font-size: 17px;
  color: #111111;
}

.app {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  color: #4A90E2;
  font-weight: 500;
  text-decoration: none;
  transition: color 100ms ease-in;
}

a:hover {
  color: #0d8eff;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/static/fonts/avenir-next-medium.eot');
  src: url('/static/fonts/avenir-next-medium.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/avenir-next-medium.woff') format('woff'),
       url('/static/fonts/avenir-next-medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/static/fonts/avenir-next-regular.eot');
  src: url('/static/fonts/avenir-next-regular.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/avenir-next-regular.woff') format('woff'),
       url('/static/fonts/avenir-next-regular.ttf') format('truetype');
  font-weight: 400;
}